<!DOCTYPE html>
<html>
<head>
    <title>Lamps</title>
    <meta charset="utf-8">
    <meta type="keywords" value="">
    <meta type="description" value="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet/less" type="text/css" href="../less/style.less"/>


</head>
<body>

<div class="overlay">
    Loading...
</div>
<div class="wrapper">
    <header>
        <div class="header_center">
            <div class="logo">
                <img src="../images/lamp-logo.png" alt="lamps" class="logo-off">
                <img src="../images/lamp-logo2.png" alt="lamps" class="logo-on">

                <h1>Lamps</h1>
            </div>
            <!-- .logo -->
            <div class="burger-menu">
                <img src="../images/burger_menu.png">
            </div>

            <ul class="menu">
                <li><a href="../index.html">Главная</a></li>
                <li class="active">
                    <a href="products.html">Продукция</a>
                    <ul class="sub-menu">
                        <li><a href="00211.html">Yellow lamp</a></li>
                        <li><a href="00212.html">White lamp</a></li>
                        <li><a href="00213.html">Vinous lamp</a></li>
                        <li><a href="00214.html">Pink lamp</a></li>
                        <li><a href="00215.html">Lilac lamp</a></li>
                        <li><a href="00216.html">Red lamp</a></li>
                        <li><a href="00217.html">Blue lamp</a></li>
                        <li><a href="00218.html">Black lamp</a></li>
                    </ul>
                    <!-- .sub-menu -->
                </li>
                <li><a href="prices.html">Цены</a></li>
                <li><a href="sales.html">Продажы за 2015 год</a></li>
                <li><a href="contacts.html">Контакты</a></li>
                <li><a href="about-us.html">О нас</a></li>
            </ul>
            <!-- .menu -->
        </div>
    </header>

    <content>
        <div class="content_center">
            <div class="products-wrapper">
                <h2>Lalic lamp</h2>

                <div class="product-img">
                    <img src="../images/product/lamp-00215.png" alt="Lamp">
                </div>
                <!-- .product-img -->

                <div class="description">
                    <div class="product-price">
                        <p>Lamp: 00215</p>

                        <p>$300</p>

                        <p><a href="#">Купить</a></p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, ei sea dicant ornatus. Alii ubique vivendo vix ei. Quis pertinax ei
                        quo. Fugit facilis fastidii qui ad. Vim eu ferri paulo reprehendunt, qui no agam commune
                        contentiones.</p>

                    <P>Doming reprimique pri ex. Ius erat philosophia id. Cu sea dicta aeterno aliquam, ad eum electram
                        similique, est id detracto voluptatum. Nam in alienum facilisis molestiae.</P>

                    <p>Nulla copiosae per cu. Ei vix quot suscipit reformidans, ut sed modo honestatis. Qui liber
                        ullamcorper at. Duo eu error nullam prompta, alia possit assueverit cu sea. Est quis ponderum
                        an, quo et illum postea probatus, mei ne vitae aliquip feugait. Eam id partiendo inciderint
                        definitionem, veri vitae virtute eum at, veri fugit tibique duo ad. Accumsan philosophia sit eu,
                        viderer salutatus imperdiet sit ei.</p>
                </div>
                <!-- .description -->
            </div>
        </div>
    </content>

    <footer>
        <div class="menu-container-wrapper">
            <div class="menu-container">
                <div class="menu-title"><a href="../index.html">Home</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="products.html">Products</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="prices.html">Prices</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="sales.html">Sales</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="contacts.html">Contacts</a></div>
                <ul>
                    <li><a href="#">Kovalevskaya Svetlana</a></li>
                    <li><a href="#">E-mail: info@lamps.com</a></li>
                    <li><a href="#">www.lamps.com</a></li>
                    <li>Tel, fax: 02-2025-7590</li>
                </ul>
            </div>

            <div class="menu-container">
                <div class="lamp-active">
                    <a href="../index.html" class="lamp-footer"></a>
                </div>
            </div>
            <div class="copyright">Copyright 2016 Lamps.</div>
        </div>
        <!-- .menu-container-wrapper -->
    </footer>
</div>
<!-- .wrapper -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

<script src="../js/jquery-1.12.0.min.js"></script>
<script src="../js/js.js"></script>
</body>
</html>