<!DOCTYPE html>
<html>
<head>
    <title>Lamps</title>
    <meta charset="utf-8">
    <meta type="keywords" value="">
    <meta type="description" value="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet/less" type="text/css" href="../less/style.less"/>


</head>
<body>
<div class="overlay">
    Loading...
</div>
<div class="wrapper">
    <header>
        <div class="header_center">
            <div class="logo">
                <img src="../images/lamp-logo.png" alt="lamps" class="logo-off">
                <img src="../images/lamp-logo2.png" alt="lamps" class="logo-on">

                <h1>Lamps</h1>
            </div>
            <!-- .logo -->

            <div class="burger-menu">
                <img src="../images/burger_menu.png">
            </div>

            <ul class="menu">
                <li><a href="../index.html">Главная</a></li>
                <li>
                    <a href="products.html">Продукция</a>
                    <ul class="sub-menu">
                        <li><a href="00211.html">Yellow lamp</a></li>
                        <li><a href="00212.html">White lamp</a></li>
                        <li><a href="00213.html">Vinous lamp</a></li>
                        <li><a href="00214.html">Pink lamp</a></li>
                        <li><a href="00215.html">Lilac lamp</a></li>
                        <li><a href="00216.html">Red lamp</a></li>
                        <li><a href="00217.html">Blue lamp</a></li>
                        <li><a href="00218.html">Black lamp</a></li>
                        >
                    </ul>
                    <!-- .sub-menu -->
                </li>
                <li><a href="prices.html">Цены</a></li>
                <li><a href="sales.html">Продажы за 2015 год</a></li>
                <li><a href="contacts.html">Контакты</a></li>
                <li><a href="about-us.html" class="active">О нас</a></li>
            </ul>
            <!-- .menu -->
        </div>
    </header>

    <content>
        <div class="content_center">
            <div class="about-us_img">
                <img src="../images/lamp-shop.jpg" alt="Lamp shop">
            </div>
            <div class="about-us">
                <p>Lorem ipsum dolor sit amet, nam nullam efficiantur cu. Eu pri nostrud apeirian reformidans. Est at
                    rebum vivendo. Albucius comprehensam mei ex, per no veniam vocibus omittam. Ei eum utamur albucius,
                    dolore delenit rationibus mei at. Interesset liberavisse ei his. Nec ut mentitum vulputate
                    dissentiet, dolorum adipisci at eum.</p>

                <p>Idque velit epicurei ea mei, ius homero dolorem cu, no semper graecis atomorum sea. Esse porro
                    constituto in quo, duo sint wisi at. Ad illum munere qui, mel cu dicit ridens. Debitis erroribus
                    dissentiet ne sea. Quas velit te sea, ei est iracundia repudiandae signiferumque.</p>

                <p>Probo soleat ridens an mei, mel altera habemus praesent ei. Ei amet propriae intellegebat his. Cum
                    utroque vituperata et, epicurei explicari an ius. Sed minim malorum ei. Mutat volumus antiopam ad
                    pro, cu usu minimum scribentur. Ut nulla legere omnesque pri. Eam in libris viderer percipit, cu
                    graeco iriure eos, nec agam lobortis persequeris an.</p>

                <p>Nihil nullam qualisque est cu, pro nulla tritani scribentur in. Noster dignissim eum no, duo in
                    soluta deserunt antiopam. Tractatos principes urbanitas sea et. Ceteros conceptam an usu, accusamus
                    quaerendum eam ei. Vivendo blandit dissentiunt sed ad, has senserit constituto vituperatoribus et.
                    In cetero quaeque explicari per.</p>

                <p>Dolor mollis ullamcorper pro an. Cum erat dicam habemus ex, eum an essent praesent convenire.
                    Apeirian perfecto splendide eam in. Eloquentiam philosophia an quo, nibh tincidunt suscipiantur ne
                    per, tollit argumentum ius et.</p>

                <p>Ut tation viderer quo. Pro ut convenire ullamcorper, pro facer malorum cu. Ius wisi probo singulis
                    no. Dolorem suavitate vix at. Eum at omnis solet petentium. Ullum evertitur democritum mel ei,
                    putent persequeris eu mea.</p>

                <p>Ad eam augue assueverit definitionem, est petentium periculis eu, eam eu omittam principes splendide.
                    An ferri ocurreret nec. Dicat elitr tamquam sed eu. No quem tantas legendos eos, ei melius nostrud
                    splendide ius. Etiam causae gubergren ex sit, eu sint nominati suavitate eos.</p>

                <p>Vocent inermis nusquam duo id. Purto etiam ut eos. Te vidisse aperiam mediocrem pro. His alii diam
                    soluta at. Temporibus dissentiunt no has.</p>

                <p>Pro ut saepe intellegam, possit delicata deseruisse id sit. Nostrum mnesarchum eum ei. Reprehendunt
                    concludaturque ne eos, eu pri discere salutatus. His ut eros molestiae, eam ut iusto posidonium,
                    nisl libris legimus et est. His mazim altera scriptorem te, cum altera vituperata no.</p>

                <p>Erat vivendo tibique ex his. Ex sea percipit partiendo, ut eos saepe quando corpora, cu eos ornatus
                    dolorem pericula. No duo porro idque iusto, et elitr interpretaris vis, nam dolores salutandi ut.
                    Nec modo cetero id, ne unum intellegebat usu. Nisl intellegat ut pro, usu cu brute minimum.</p>
            </div>
        </div>
    </content>

    <footer>
        <div class="menu-container-wrapper">
            <div class="menu-container">
                <div class="menu-title"><a href="../index.html">Home</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="products.html">Products</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="prices.html">Prices</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="sales.html">Sales</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="contacts.html">Contacts</a></div>
                <ul>
                    <li><a href="#">Kovalevskaya Svetlana</a></li>
                    <li><a href="#">E-mail: info@lamps.com</a></li>
                    <li><a href="#">www.lamps.com</a></li>
                    <li>Tel, fax: 02-2025-7590</li>
                </ul>
            </div>

            <div class="menu-container">
                <div class="lamp-active">
                    <a href="../index.html" class="lamp-footer"></a>
                </div>
            </div>
            <div class="copyright">Copyright 2016 Lamps.</div>
        </div>
        <!-- .menu-container-wrapper -->
    </footer>
</div>
<!-- .wrapper -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

<script src="../js/jquery-1.12.0.min.js"></script>
<script src="../js/js.js"></script>
</body>
</html>