<!DOCTYPE html>
<html>
<head>
    <title>Lamps</title>
    <meta charset="utf-8">
    <meta type="keywords" value="">
    <meta type="description" value="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet/less" type="text/css" href="../less/style.less"/>


</head>
<body>
<div class="overlay">
    Loading...
</div>

<div class="wrapper">
    <header>
        <div class="header_center">
            <div class="logo">
                <img src="../images/lamp-logo.png" alt="lamps" class="logo-off">
                <img src="../images/lamp-logo2.png" alt="lamps" class="logo-on">

                <h1>Lamps</h1>

                <div class="burger-menu">
                    <img src="../images/burger_menu.png">
                </div>

            </div>
            <!-- .logo -->
            <ul class="menu">
                <li><a href="../index.html">Главная</a></li>
                <li>
                    <a href="products.html">Продукция</a>
                    <ul class="sub-menu">
                        <li><a href="00211.html">Yellow lamp</a></li>
                        <li><a href="00212.html">White lamp</a></li>
                        <li><a href="00213.html">Vinous lamp</a></li>
                        <li><a href="00214.html">Pink lamp</a></li>
                        <li><a href="00215.html">Lilac lamp</a></li>
                        <li><a href="00216.html">Red lamp</a></li>
                        <li><a href="00217.html">Blue lamp</a></li>
                        <li><a href="00218.html">Black lamp</a></li>
                    </ul>
                    <!-- .sub-menu -->
                </li>
                <li><a href="prices.html">Цены</a></li>
                <li><a href="sales.html">Продажы за 2015 год</a></li>
                <li><a href="contacts.html" class="active">Контакты</a></li>
                <li><a href="about-us.html">О нас</a></li>
            </ul>
            <!-- .menu -->
        </div>
    </header>

    <content>
        <div class="content_center">

            <div class="contacts">
                <h2>Контакты</h2>

                <p> Kovalevskaya Svetlana</p>

                <p>E-mail: info@lamps.com</p>

                <p>www.lamps.com</p>

                <p>Tel, fax: 02-2025-7590</p>


                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2539.436034375814!2d30.51014091592398!3d50.47022579382064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1459267723636"
                        width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
            <div class="form_contacts">
                <h2>Обратная связь</h2>

                <form>
                    <input type="text" id="firstName" placeholder="Имя и фамилия"/>

                    <input type="number" id="lastName" placeholder="Телефон"/>

                    <input type="mail" id="e-mail" placeholder="E-mail"/>

                    <textarea rows="10" cols="50" placeholder="Сообщение"></textarea>

                    <button type="submit">Send</button>
                    <button type="reset">Reset</button>
                </form>
            </div>


        </div>
    </content>

    <footer>
        <div class="menu-container-wrapper">
            <div class="menu-container">
                <div class="menu-title"><a href="../index.html">Home</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="products.html">Products</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="prices.html">Prices</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="sales.html">Sales</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="contacts.html">Contacts</a></div>
                <ul>
                    <li><a href="#">Kovalevskaya Svetlana</a></li>
                    <li><a href="#">E-mail: info@lamps.com</a></li>
                    <li><a href="#">www.lamps.com</a></li>
                    <li>Tel, fax: 02-2025-7590</li>
                </ul>
            </div>

            <div class="menu-container">
                <div class="lamp-active">
                    <a href="../index.html" class="lamp-footer"></a>
                </div>
            </div>
            <div class="copyright">Copyright 2016 Lamps.</div>
        </div>
        <!-- .menu-container-wrapper -->
    </footer>
</div>
<!-- .wrapper -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

<script src="../js/jquery-1.12.0.min.js"></script>
<script src="../js/js.js"></script>
</body>
</html>