<!DOCTYPE html>
<html>
<head>
    <title>Lamps</title>
    <meta charset="utf-8">
    <meta type="keywords" value="">
    <meta type="description" value="">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet/less" type="text/css" href="../less/style.less"/>


</head>
<body>
<div class="overlay">
    Loading...
</div>
<div class="wrapper">
    <header>
        <div class="header_center">
            <div class="logo">
                <img src="../images/lamp-logo.png" alt="lamps" class="logo-off">
                <img src="../images/lamp-logo2.png" alt="lamps" class="logo-on">

                <h1>Lamps</h1>
            </div>
            <!-- .logo -->
            <div class="burger-menu">
                <img src="../images/burger_menu@2x.png">
            </div>

            <ul class="menu">
                <li><a href="../index.html">Главная</a></li>
                <li>
                    <a href="products.html">Продукция</a>
                    <ul class="sub-menu">
                        <li><a href="00211.html">Yellow lamp</a></li>
                        <li><a href="00212.html">White lamp</a></li>
                        <li><a href="00213.html">Vinous lamp</a></li>
                        <li><a href="00214.html">Pink lamp</a></li>
                        <li><a href="00215.html">Lilac lamp</a></li>
                        <li><a href="00216.html">Red lamp</a></li>
                        <li><a href="00217.html">Blue lamp</a></li>
                        <li><a href="00218.html">Black lamp</a></li>
                    </ul>
                    <!-- .sub-menu -->
                </li>
                <li><a href="prices.html" class="active">Цены</a></li>
                <li><a href="sales.html">Продажы за 2015 год</a></li>
                <li><a href="contacts.html">Контакты</a></li>
                <li><a href="about-us.html">О нас</a></li>
            </ul>
            <!-- .menu -->
        </div>
    </header>

    <content>
        <div class="content_center">

           <h2><a href="prices.ods">Скачать price list</a></h2>
            <table class="price_table">
                <tr>
                    <th>Lamps</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Yellow lamp: 00211</td>
                    <td>$400</td>
                </tr>
                <tr>
                    <td>White lamp: 00212</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>Vinous lamp: 00213</td>
                    <td>$200</td>
                </tr>
                <tr>
                    <td>Pink lamp: 00214</td>
                    <td>$200</td>
                </tr>
                <tr>
                    <td>Lilac lamp: 00215</td>
                    <td> $300</td>
                </tr>
                <tr>
                    <td>Red lamp: 00216</td>
                    <td> $400</td>
                </tr>
                <tr>
                    <td>Blue lamp: 00217</td>
                    <td>$200</td>
                </tr>
                <tr>
                    <td>Black lamp: 00218</td>
                    <td>$300</td>
                </tr>
            </table>
        </div>
    </content>


    <footer>
        <div class="menu-container-wrapper">
            <div class="menu-container">
                <div class="menu-title"><a href="../index.html">Home</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="products.html">Products</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="prices.html">Prices</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="sales.html">Sales</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="contacts.html">Contacts</a></div>
                <ul>
                    <li><a href="#">Kovalevskaya Svetlana</a></li>
                    <li><a href="#">E-mail: info@lamps.com</a></li>
                    <li><a href="#">www.lamps.com</a></li>
                    <li>Tel, fax: 02-2025-7590</li>
                </ul>
            </div>

            <div class="menu-container">
                <div class="lamp-active">
                    <a href="../index.html" class="lamp-footer"></a>
                </div>
            </div>
            <div class="copyright">Copyright 2016 Lamps.</div>
        </div>
        <!-- .menu-container-wrapper -->
    </footer>
</div>
<!-- .wrapper -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

<script src="../js/jquery-1.12.0.min.js"></script>
<script src="../js/js.js"></script>
</body>
</html>