<!DOCTYPE html>
<html>
<head>
    <title>Lamps</title>
    <meta charset="utf-8">
    <meta type="keywords" value="">
    <meta type="description" value="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>`
    <link rel="stylesheet/less" type="text/css" href="../less/style.less"/>
</head>
<body>
<div class="overlay">
    Loading...
</div>
<div class="wrapper">
    <header>
        <div class="header_center">

            <div class="logo">
                <img src="../images/lamp-logo.png" alt="lamps" class="logo-off">
                <img src="../images/lamp-logo2.png" alt="lamps" class="logo-on">

                <h1>Lamp</h1>
            </div>
            <!-- .logo -->

            <div class="burger-menu">
                <img src="../images/burger_menu.png">
            </div>

            <ul class="menu">
                <li><a href="../index.html">Главная</a></li>
                <li class="active">
                    <a href="products.html">Продукция</a>
                    <ul class="sub-menu">
                        <li><a href="00211.html">Yellow lamp</a></li>
                        <li><a href="00212.html">White lamp</a></li>
                        <li><a href="00213.html">Vinous lamp</a></li>
                        <li><a href="00214.html">Pink lamp</a></li>
                        <li><a href="00215.html">Lilac lamp</a></li>
                        <li><a href="00216.html">Red lamp</a></li>
                        <li><a href="00217.html">Blue lamp</a></li>
                        <li><a href="00218.html">Black lamp</a></li>
                    </ul>
                    <!-- .sub-menu -->
                </li>
                <li><a href="prices.html">Цены</a></li>
                <li><a href="sales.html">Продажы за 2015 год</a></li>
                <li><a href="contacts.html">Контакты</a></li>
                <li><a href="about-us.html">О нас</a></li>
            </ul>
            <!-- .menu -->
            <div class="basket_icon show-basket">
                <img src="../images/basket.png">
            </div>
        </div>


    </header>

    <content>
        <div class="content_center">
            <div class="products-wrapper">
                <h2>Lamps</h2>

                <div class="product">
                    <figure>
                        <a href="00211.html"><img src="../images/product/lamp-00211.png" alt="Lamp"></a>
                        <figcaption>
                            <a href="00211.html">Big yellow lamp: 211</a>

                            <p class="product__price">$400</p>

                            <p><a href="#" class="button basket_button add-goods-in-basket"
                                  data-id-product="211">Купить</a>
                            </p>

                            <p>Lorem ipsum dolor sit amet, ei sea dicant ornatus. Alii ubique vivendo vix ei. Quis
                                pertinax ei quo.</p>
                        </figcaption>
                    </figure>
                </div>

                <div class="product">
                    <figure>
                        <a href="00212.html"><img src="../images/product/lamp-00212.png" alt="Lamp"></a>
                        <figcaption>
                            <a href="00112.html">White lamp: 212</a>

                            <p class="product__price">$100</p>

                            <p><a href="#" class="button basket_button add-goods-in-basket"
                                  data-id-product="212">Купить</a>
                            </p>

                            <p>Lorem ipsum dolor sit amet, ei sea dicant ornatus. Alii ubique vivendo vix ei. Quis
                                pertinax ei quo.</p>
                        </figcaption>
                    </figure>
                </div>

                <div class="product">
                    <figure>
                        <a href="00213.html"><img src="../images/product/lamp-00213.png" alt="Lamp"></a>
                        <figcaption>
                            <a href="00213.html">Red lamp: 213</a>

                            <p class="product__price">$200</p>

                            <p><a href="#" class="button basket_button add-goods-in-basket"
                                  data-id-product="213">Купить</a>
                            </p>

                            <p>Lorem ipsum dolor sit amet, ei sea dicant ornatus. Alii ubique vivendo vix ei. Quis
                                pertinax ei quo.</p>
                        </figcaption>
                    </figure>
                </div>

                <div class="product">
                    <figure>
                        <a href="00214.html"><img src="../images/product/lamp-00214.png" alt="Lamp"></a>
                        <figcaption>
                            <a href="00214.html">Pink lamp: 214</a>

                            <p class="product__price">$200</p>

                            <p><a href="#" class="button basket_button add-goods-in-basket"
                                  data-id-product="214">Купить</a>
                            </p>

                            <p>Lorem ipsum dolor sit amet, ei sea dicant ornatus. Alii ubique vivendo vix ei. Quis
                                pertinax ei quo.</p>
                        </figcaption>
                    </figure>
                </div>

                <div class="product">
                    <figure>
                        <a href="00215.html"><img src="../images/product/lamp-00215.png" alt="Red lamp"></a>
                        <figcaption>
                            <a href="00215.html">Lilac lamp: 215</a>

                            <p class="product__price">$300</p>

                            <p><a href="#" class="button basket_button add-goods-in-basket"
                                  data-id-product="215">Купить</a>
                            </p>

                            <p>Lorem ipsum dolor sit amet, ei sea dicant ornatus. Alii ubique vivendo vix ei. Quis
                                pertinax ei quo.</p>
                        </figcaption>
                    </figure>
                </div>

                <div class="product">
                    <figure>
                        <a href="00216.html"><img src="../images/product/lamp-00216.png" alt="Lamp"></a>
                        <figcaption>
                            <a href="00216.html">Red lamp: 216</a>

                            <p class="product__price">$400</p>

                            <p><a href="#" class="button basket_button add-goods-in-basket"
                                  data-id-product="216">Купить</a>
                            </p>

                            <p>Lorem ipsum dolor sit amet, ei sea dicant ornatus. Alii ubique vivendo vix ei. Quis
                                pertinax ei quo.</p>
                        </figcaption>
                    </figure>
                </div>

                <div class="product">
                    <figure>
                        <a href="00217.html"><img src="../images/product/lamp-00217.png" alt="Lamp"></a>
                        <figcaption>
                            <a href="00217.html">Blue lamp: 217</a>

                            <p class="product__price">$200</p>

                            <p><a href="#" class="button basket_button add-goods-in-basket"
                                  data-id-product="217">Купить</a>
                            </p>

                            <p>Lorem ipsum dolor sit amet, ei sea dicant ornatus. Alii ubique vivendo vix ei. Quis
                                pertinax ei quo.</p>
                        </figcaption>
                    </figure>
                </div>

                <div class="product">
                    <figure>
                        <a href="00218.html"><img src="../images/product/lamp-00218.png" alt="Red lamp"></a>
                        <figcaption>
                            <a href="00218.html">Black lamp: 218</a>

                            <p class="product__price">$300</p>

                            <p><a href="#" class="button basket_button add-goods-in-basket"
                                  data-id-product="218">Купить</a>
                            </p>

                            <p>Lorem ipsum dolor sit amet, ei sea dicant ornatus. Alii ubique vivendo vix ei. Quis
                                pertinax ei quo.</p>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <!-- .products-wrapper -->
        </div>

    </content>

    <footer>
        <div class="menu-container-wrapper">
            <div class="menu-container">
                <div class="menu-title"><a href="../index.html">Home</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="products.html">Products</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="prices.html">Prices</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="sales.html">Sales</a></div>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- .menu-container -->

            <div class="menu-container">
                <div class="menu-title"><a href="contacts.html">Contacts</a></div>
                <ul>
                    <li><a href="#">Kovalevskaya Svetlana</a></li>
                    <li><a href="#">E-mail: info@lamps.com</a></li>
                    <li><a href="#">www.lamps.com</a></li>
                    <li>Tel, fax: 02-2025-7590</li>
                </ul>
            </div>

            <div class="menu-container">
                <div class="lamp-active">
                    <a href="../index.html" class="lamp-footer"></a>
                </div>
            </div>
            <div class="copyright">Copyright 2016 Lamps.</div>
        </div>
        <!-- .menu-container-wrapper -->
    </footer>
</div>
<!-- .wrapper -->


<div class="cart">
    <span id="cart_close"><img src="../images/close.png"></span>
    <div class="cart__header">Корзина</div>
    <div class="cart__items"></div>
    <div class="cart__footer"></div>
</div>
<div class="message">Товар добавлен</div>
<div id="overlay"></div>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
<script src="../js/jquery-1.12.0.min.js"></script>
<script src="../js/js.js"></script>
<script src="../js/cart.js"></script>
</body>
</html>